* {
  margin: 0;
  padding: 0;
}

body{
  background: #3D0814;
}

.main{
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
}
.slides {
  width: 80%;

}

.slides img {
  width: 20%;

}
.slidesjs-pagination{
  background: #9f364e;
  list-style: none;
  overflow: hidden;
}

.slidesjs-pagination li{
  float:left;
}

.slidesjs-pagination li a {
  display:block;
  padding: 6px 12px;
  color:#fff;
  text-decoration: none;
}

.slidesjs-pagination li a:hover {
  background: #cc4b6a;
}

.slides .active{
  background: #3d0814;
}

.slidesjs-navigation{
  background: #9f364e;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 6px 13px;
  float: right;
}
