// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

body {
    background-color: #EBE8E4;
    color: #222;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-weight: 300;
    font-size: 15px;
}
